@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Regular.ttf);
    font-style: normal;
    font-weight: 300;
}
/* :root{
    --main__color: ;
    --main__size: ;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
.main{
    width: 100%;
    background: rgb(189,235,247);
    background: linear-gradient(180deg, rgba(189,235,247,1) 0%, rgba(119,175,249,1) 100%);
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* position: relative; */
}

/* SECCIÓN INICIO */
.picture{
    width: 100%;
    max-width: 300px;
}
/* .picture2{
    display: none;
} */
.picture__image{
    height: 100%;
    width: 100%;
}
.input{
    margin-top: 30px;
}
/* .input:checked~.picture{
    opacity: 0;
    display: none;
}
.input:checked~.picture2{
    opacity: 1;
    display: inline-block;
} */
.link{
    position: absolute;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background-color: #4a6dad;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
}
.link:hover{
    transform: rotate(90deg);
    background-color: #4f97dd;
    width: 55px;
    height: 55px;
}
.title__main{
    font-size: 36px;
    color: #2c4674;
    font-weight: bold;
    text-align: center;   
}
.title__second{
    color: #fff;
    text-align: end;
    display: block;
    font-weight: 300;
}
.paragraph{
    color: #2c4674;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

/* SECCIÓN BÚSQUEDA */
.second__container{
    padding: 0 10px;
    background-color: #dbeff9;
    justify-content: flex-start;
    gap: 20px;
}
.headerTitle{
    width: 100%;
    /* max-width: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    max-width: 600px;
    font-size: 24px;
    font-weight: 500;
}
.headerTitle__link{
    position: absolute;
    left: 0;
}
.barSearch{
    width: 100%;
    max-width: 600px;
    position: relative;
}
.barSearch__input{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f1f9fd;
    padding: 5px 15px 5px 40px;
}
.barSearch__image{
    position: absolute;
    left: 10px;
    top: 7px;
}
.category{
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.category__animal{
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: space-between; */
    width: 140px;
    /* height: 40px; */
    /* display: inline-block; */
    padding: 7px;
    border-radius: 30px;
    background-color: #6aa5e3;
}
.category__animal:nth-child(2){
    background-color: #f1f9fd;
}
.category__animal--image{
    background-color: #fff;
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 50%;
}
.category__animal--text{
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
}
.container__cards{
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: #bdebf7; */
    gap: 10px;
    margin-bottom: 30px;
}
.card__animal{
    background-color: #e3c069;
    border-radius: 30px;
    overflow: hidden;
    width: 140px;
    cursor: pointer;
    /* padding: 10px; */
}
.card__animal:nth-child(2){
    background-color: #d1723f;
}
.card__animal:nth-child(3){
    background-color: #488db3;
}
.card__animal:nth-child(4){
    background-color: #58c084;
}
.animal__info{
    padding: 5px 10px 10px 10px; 
    background-color: #fff;
    position: relative;
    z-index: 100;
}
.animal__info--extra{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.animal__info--name{
    font-size: 18px;
    font-weight: bold;
}
.animal__info--race{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
}
.animal__photo{
    width: 100%;
    height: 150px;
    object-fit: cover;
    overflow: hidden; 
}
.animal__photo--image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(20px);
    transition: all .4s ease;
}
.animal__photo--image:hover{
    transform: translateY(10px);
}
.animal__photo--Reigner{
    width: 100%;
    height: 120%;
    object-fit: cover;
    overflow: hidden;
    transition: all .4s ease;
}
.animal__photo--Reigner:hover{
    transform: translateY(-15px);
}
.animal__info--price{
    font-size: 18px;
    font-weight: 500;
}
/* SECCIÓN PET */
